# Large dataset files
data/*.tar.gz
data/*.zip
*.tar.gz
*.zip

# Large model files
*.h5
*.model
*.pkl
*.pth
*.pt

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter notebooks
.ipynb_checkpoints/

# model

model/*.pth